ul.horizontal {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #46B8AB;
  font-size: 17px;
}

ul.horizontal:hover{
  cursor: pointer;
}

ul.horizontal li {
  float: left;
}

ul.horizontal li:hover {
  background: rgba(255, 214, 74, 0.80);
}

ul.horizontal li span {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul.horizontal li span.active {
  background-color: #FFDA44;
}

ul.horizontal li span {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}